beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
docopt==0.6.2
greenlet==3.2.3
idna==3.10
playwright==1.54.0
pyee==13.0.0
requests==2.32.4
soupsieve==2.7
toml==0.10.2
typing_extensions==4.14.1
urllib3==2.5.0
yarg==0.1.10
